<div class="col-md-12" id="main-container">
  
  <div class="row">
    <button type="button" id="likes" class="btn btn-secondary">Most Likes</button>
    <button type="button" id="recent" class="btn btn-secondary">Most Members</button>
  </div>

  <div class="row events">
    <% @groups.each do |group| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 for-search" id="groups-cards" data-searchstring="<%= group.tags.pluck(:name).join(' ') %> <%= group.location %> <%= group.title%>" data-added="<%= group.users.size %>" data-likes="<%= group.get_upvotes.size %>">
        <div class="hovereffect">
          <%= image_tag group.group_image.url, :class=>"img-responsive", :style=>"max-height: 300px;" %>
          <div class="overlay">
            <h2><%= group.title %></h2>
            <p class="card-bottom"> 
              <%= link_to 'Detail', group, :id=>"groupcard-link" %>
              <div class="activity-mini">
                <i class="glyphicon glyphicon-user text-muted white"></i> <%= group.users.size %>
              </div>
              <div class="activity-mini">
                <i class="glyphicon glyphicon-thumbs-up text-muted white"></i><%= group.get_upvotes.size %>
              </div> 
            </p>
          </div>
        </div> 
      </div>
    <% end %>
  </div>
</div>