<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User Profile<hr></div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <%= link_to image_tag(@user.profile_image.detail.url), @user.profile_image.url, :class=>"img-circle avatar avatar-original", :style=>"-webkit-user-select:none; 
              display:block; margin:auto;" %>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= @user.username%></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email:</span><%= @user.email%><br>
                  <span class="text-muted">Gender:</span> male<br><br>
                  <span class="text-muted">Description:</span><%= @user.description%><br><br>
                  <small class="text-muted">Created: <%= @user.created_at %></small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr><button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i><%= link_to "Edit", edit_user_registration_path, :style=>"color:grey; text-decoration:none" %></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">Events Organised<hr></div>
            </div>
            <div id="demo">
              <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Attendees</th>
                      <th>Organiser</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.created_events.each do |event| %>
                      <tr>
                        <td data-title="Name">
                          <%= link_to event.title, event_path(event) %>
                        </td>
                        <td data-title="Name"><%= event.attendees.length%></td>
                        <td data-title="Link">
                          <%= link_to event.creator.username, user_path(event.creator) %>
                        </td>
                        <td data-title="Status"><button><%= link_to "Details", event_path(event) %></button></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">Events Attended<hr></div>
            </div>
            <div id="demo">
              <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Attendees</th>
                      <th>Organiser</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.events_attending.each do |event| %>
                      <tr>
                        <td data-title="Name">
                          <%= link_to event.title, event_path(event) %>
                        </td>
                        <td data-title="Name"><%= event.attendees.length%></td>
                        <td data-title="Link">
                          <%= link_to event.creator.username, user_path(event.creator) %>
                        </td>
                        <td data-title="Status"><button><%= link_to "Details", event_path(event) %></button></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">Groups Joined<hr></div>
            </div>
            <div id="demo">
              <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue">
                  <thead>
                    <tr>
                      <th>Group</th>
                      <th>Members</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.groups.each do |group| %>
                      <tr>
                        <td data-title="Name">
                          <%= link_to group.title, group_path(group) %>
                        </td>
                        <td data-title="Name"><%= group.users.length%></td>
                        <td data-title="Status"><button><%= link_to "Details", group_path(group) %></button></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>