<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row">
    <div class="col-xs-12">
      <%= f.collection_radio_buttons(:user_id, User.all, :id, :profile_image) do |b|
      b.label { b.radio_button(:style=>"margin-left: 20px;") + b.object.username + image_tag(b.object.profile_image.thumb.url) } 
      end %>
    </div>
  </div>



  <div class="actions" id="update-role">
    <%= f.submit %>
  </div>
<% end %>
