<div class="row">
  <% @events.each do |event| %> 
    <div class="col-xs-6 col-md-3">
      <div id="box-3" class="box">
        <%= link_to image_tag(event.event_image.thumb.url), event %>
        <span class="caption fade-caption">
          <div class="card-interest">
              <%= event.tags.first.name %> 
          </div>
          <div class="card-content">
            <p><%=distance_of_time_in_words(event.end_date, Time.now) %> Remaining</p>
            <div class="card-title">
              <h3><%=link_to event.title, event %></h3>
            </div>
            <div class="activity-mini">
              <i class="glyphicon glyphicon-comment text-muted"></i> <%= event.comments.size %>
            </div>
            <div class="activity-mini">
              <i class="glyphicon glyphicon-thumbs-up text-muted"></i> <%= event.get_upvotes.size %>
            </div>
            <div class="card-admin">
              <button><%= link_to 'Edit', edit_event_path(event) %></button>
              <button><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
          </div>
        </span>
      </div>
    </div>
  <% end %>
</div>
