<div class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post" id="entry-header">

        <h2 class="blog-post-title"><%= @event.title %></h2>

        <p class="blog-post-meta"><%= @event.created_at %> by <%= link_to @event.creator.username, user_path(@event.creator) %></p>

        <button class="btn btn-success" id="join"><%= link_to "Join!", join_path %></button>
        <button class="btn btn-danger" id="like"><a href="#">Like!</a></button>
        <div class="entry-header" id="show-poster">
          <img class="img-fluid" src="<%= @event.event_image%>"/>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Event Description<hr></div>
          </div>
          <div class="entry-content">
            <p><%= @event.description %></p>
          </div>
        </div><!-- /.blog-post -->
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Activities<hr></div>
          </div>
          <div class="entry-content">
            <p>Day 1: Las Vegas – Zion National Park & Bryce Canyon (L) After departing Las Vegas, travel by air-conditioned minibus to Zion National Park, a dazzling mix of white, pink and red Navajo sandstone cliffs that make for a photographer’s paradise. Experience the beauty of Zion Canyon however you’d like during free time in the park. Go on a walk or hike, available for every fitness level. Stroll along the Emerald Pools trail, discover the Temple of Sinawava, the Great White Throne or Weeping Rock, or visit the interpretive Human History Museum where you can enjoy an entertaining ranger’s talk on the patio. After a full afternoon in Zion you'll head to Bryce Canyon, a natural amphitheater created by erosion along the eastern side of the Paunsaugunt Plateau. Bryce Canyon is famous for its hoodoos, or dramatic red spires. Take a walk down into the hoodoos for an unforgettable experience. Enjoy a barbecue dinner (own expense) and a fun evening with new friends.</p><hr>
            <p>Day 2: Bryce Canyon – Monument Valley (B, L) Wake up to a beautiful Southwest morning and enjoy the drive to Lake Powell for an optional visit to Antelope Canyon (own expense) before traveling to one of the most recognizable locations on the planet: Monument Valley, home to the Navajo Nation. A Navajo member will take you on a guided Jeep tour of the valley before you spend the night at your campsite gazing up at the amazing starry sky, which come morning will be transformed by the magnificent sunrise.</p><hr>
            <p>Day 3: Monument Valley – Grand Canyon National Park – Las Vegas (B*, L) If camping option was selected, a light breakfast is included; if you stayed overnight at the lodge, breakfast may be purchased at the hotel's cafe. Save the best for last on Day 3! After a brief visit to a traditional Navajo trading post, follow the Colorado River through the Painted Desert to Grand Canyon National Park. Again, see the park as you’d like. Walk along the South Rim, hike deep into the canyon, relax at a rim-side cafe or take in bird’s-eye views on an optional helicopter ride (own expense). Then head back to Las Vegas, where your 3-day adventure concludes in the late evening.</p><hr>
          </div>
        </div><!-- /.blog-post -->
      </div>

      <nav class="blog-pagination">
        <%= link_to "Back", events_path, :class=>"btn btn-outline-primary" %>
      </nav>

    </div><!-- /.blog-main -->

    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4><hr>
        <p>
          <strong>Start date:</strong>
          <%= @event.start_date %>
        </p>
        <p>
          <strong>End date:</strong>
          <%= @event.end_date %>
        </p>
        <p>
          <strong>Location:</strong>
          <%= @event.location %>
        </p>
      </div>

      <div class="sidebar-module">
        <h4>Interested?</h4>
        <ol class="list-unstyled">
        <button class="btn btn-info" id="info"><a href="#">Event Gallery</a></button>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Goings (<%= @event.attendees.length%>)</h4>
        <ol class="list-unstyled">
          <% @event.attendees.each do |attendee| %>
            <li class="goings-list"><%= link_to image_tag(attendee.profile_image.thumb.url), user_path(attendee), :id=>"profile_image" %><%= link_to attendee.username, user_path(attendee), :id=>"profile_username" %></li>
          <% end %>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
