<div class="container">

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post" id="entry-header">

        <h2 class="blog-post-title"><%= @event.title %></h2>

        <p class="blog-post-meta"><%= @event.created_at %> | Current Organiser: <%= link_to @event.creator.username, user_path(@event.creator) %></p>

        <button class="btn btn-success" id="join"><%= link_to "Join", join_path %></button>

        <button class="btn btn-danger" id="like">
          <%= link_to like_event_path(@event), method: :put do %>
            Likes
             (<%= @event.get_upvotes.size %>)
          <% end %>
        </button>

        <div class="entry-header" id="show-poster">
          <img class="img-fluid" src="<%= @event.event_image%>"/>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Event Description<hr></div>
          </div>
          <div class="entry-content">
            <p><%= @event.description %></p>
          </div>
        </div><!-- /.blog-post -->
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Activities<hr></div>
          </div>
          <div class="entry-content">
            <% @event.titles.each do |title| %>
              <p>
                <%= title.name %>
                <% if current_user == @event.creator %> 
                  <%= link_to 'Edit', edit_title_path(title) %> |
                  <%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <% title.activities.each do |activity| %>
                  <p>
                    <%= activity.start %>
                    <%= activity.content %>
                    <% if current_user == @event.creator %>
                      <%= link_to 'Edit', edit_activity_path(activity) %> |
                      <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </p>
                <% end %>
              </p><hr>
            <% end %>
          </div>
        </div><!-- /.blog-post -->
      </div>
      <% if current_user == @event.creator %>
        <%= render 'titleform', title: @title %>
      <% end %>
      <% if current_user == @event.creator %>
      <%= render 'activityform', activity: @activity, titles: @titles %>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">Assign the organisor<hr></div>
            <%= render 'roleform', event: @event %>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section class="comment-list">
              <% @event.comments.each do |comment| %>
                <article class="row">
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <%= image_tag comment.user.profile_image, :class=>"img-responsive" %>
                      <figcaption class="text-center">
                          <%= link_to comment.user.username, user_path(comment.user)%>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col-md-10 col-sm-10">
                    <div class="panel panel-default arrow left">
                      <div class="panel-body">
                        <header class="text-left">
                          <div class="comment-user"><i class="fa fa-user"></i> 
                              <%= link_to comment.user.username, user_path(comment.user)%>
                          </div>
                          <time class="comment-date"><i class="fa fa-clock-o"></i>
                              <%= comment.created_at %>
                          </time>
                        </header>
                        <div class="comment-post">
                          <p>
                            <%= comment.content %>
                          </p>
                        </div>
                        <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
                      </div>
                    </div>
                  </div>
                </article>
              <% end %>
            </section>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget-area no-padding blank">
            <div class="status-upload">
            <%= render 'commentform', comment: @comment %>
            </div><!-- Status Upload  -->
          </div><!-- Widget Area -->
        </div> 
      </div>

      <nav class="blog-pagination">
        <%= link_to "Back", events_path, :class=>"btn btn-outline-primary" %>
      </nav>

    </div><!-- /.blog-main -->


    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4><hr>

        <p>
          <strong>Tags:</strong>
          <% @event.tags.each do |tag| %>
            <%= tag.name %> 
          <% end %>
        </p>
        <p>
          <strong>Start date:</strong>
          <%= @event.start_date %>
        </p>
        <p>
          <strong>End date:</strong>
          <%= @event.end_date %>
        </p>
        <p>
          <strong>Location:</strong>
          <%= @event.location %>
        </p>
        <p>
          <strong>Group:</strong>
          <%= link_to @event.group.title, group_path(@event.group) %>
        </p>
      </div>

      <div class="sidebar-module">
        <h4>Interested?</h4>
        <ol class="list-unstyled">
        <button class="btn btn-info" id="info"><a href="#">Event Gallery</a></button>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Goings (<%= @event.attendees.length%>)</h4>
        <ol class="list-unstyled">
          <% @event.attendees.each do |attendee| %>
            <li class="goings-list"><%= link_to image_tag(attendee.profile_image.thumb.url), user_path(attendee), :id=>"profile_image" %><%= link_to attendee.username, user_path(attendee), :id=>"profile_username" %></li>
          <% end %>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->


<p id="notice"><%= notice %></p>
<% if current_user == @event.creator %> 
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <button><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></button>
<% end %>
