<header>
  <nav class="navbar navbar-default navbar-fixed-top" id="nav-bar">
    <div class="container"> 
      <div class="navbar-header">
          <%= link_to "LikeMinder", events_path, :class=>"navbar-brand", :id=>"logo" %>
      </div>
      <ul class="nav navbar-nav" id="nav-left">
        <li class="nav-item"><%= link_to "Events", events_path %></li>
        <li class="nav-item"><%= link_to "Add Event", new_event_path %></li>
        <li class="nav-item"><%= link_to "Groups", groups_path %></li>
        <li class="nav-item"><%= link_to "Add Group", new_group_path %></li>
      </ul>

      <ul class="nav navbar-nav" id="nav-right">
        <% if current_user %> 
          <li class="nav-item" id="profile_tab"><%= link_to image_tag(current_user.profile_image.thumb.url), user_path(current_user), :id=>"profile_image" %><%= link_to current_user.username, user_path(current_user), :id=>"profile_username" %></li>
          <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign In", new_user_session_path %></li>
          <li class="nav-item"><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

